@import "../../styles/variable.scss";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: none;
  &__progress-circle {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    display: block;
    border-left: 2px solid $greyDark;
    border-top: 2px solid $greyDark;
    border-radius: 50%;
    animation: Rotating 1s infinite ease-in-out;
  }

  &--small {
    font-size: 14px;
  }
  &--medium {
    font-size: 16px;
  }
  &--large {
    font-size: 18px;
  }
  &--fill {
    background-color: $color;
    &:hover {
      color: $white;
      background-color: $colorDark;
    }
  }
  &--border {
    background-color: $white;
    border: 1px solid $color;
    color: $color;
    &:hover {
      color: $white;
      border-color: $colorDark;
      background-color: $colorDark;
    }
  }
  &--disabled {
    background-color: $grey;
    cursor: not-allowed;
    &:hover {
      background-color: $grey;
    }
  }
}
@keyframes Rotating {
  to {
    transform: rotate(360deg);
  }
}
