@import "../../styles/variable.scss";

.dialogs-item {
  $self: &;
  margin: 16px;

  &:hover {
    #{$self}__block {
      background-color: $grey;
    }
  }
  &__block {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: $white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &--selected {
      background-color: $grey;
    }
  }
  &__avatar {
    margin-right: 16px;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 362px;
    &__partner-and-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__message-and-not-readed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
    }
    &__partner {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
      color: $blackText;
    }
    &__date {
      font-size: 14px;
      font-weight: 400;
      color: $greyText;
    }
    &__last-message {
      color: $greyText;
      font-size: 14px;
      font-weight: 300;
      text-overflow: ellipsis;
      margin: 0;
      height: 14px;
      width: 80%;
      overflow: hidden;
    }
    &__not-readed {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      font-weight: 300;
      color: $white;
      width: 16px;
      height: 16px;
      background-color: $yellow;
      border-radius: 50%;
    }
  }
}
