@import "./normalize.css";

html,
body,
#root,
.wrapper {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
