@import "../../styles/variable.scss";
.white {
  color: #fff;
}
.button-circle {
  border: none;
  outline: none;
  border-radius: 50%;
  :hover {
  }
  &--small {
    width: 40px;
    height: 40px;
  }
  &--medium {
    width: 60px;
    height: 60px;
  }
  &--large {
    width: 80px;
    height: 80px;
  }
  &--green {
    background-color: $yellow;
  }
}
