@import "../../styles/variable.scss";

.avatar {
  position: relative;
  display: inline-block;
  &--small {
    width: 40px;
    height: 40px;
  }
  &--medium {
    width: 160px;
    height: 160px;
  }
  &--large {
    width: 160px;
    height: 160px;
  }
  &--symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 300;
    color: $white;
    &-small {
      width: 40px;
      height: 40px;
      font-size: 18px;
    }
    &-medium {
      width: 160px;
      height: 160px;
      font-size: 42px;
    }
    &-large {
      width: 160px;
      height: 160px;
      font-size: 42px;
    }
  }
  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    &--small {
      max-width: 40px;
      max-height: 40px;
    }
    &--medium {
      max-width: 112px;
      max-height: 112px;
    }
    &--large {
      max-width: 160px;
      max-height: 160px;
    }
  }
  &__is-online {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $green;
      z-index: 15;
    }
    &--small {
      width: 8px;
      height: 8px;
      &::before {
        width: 6px;
        height: 6px;
      }
    }
    &--medium {
      width: 16px;
      height: 16px;
      &::before {
        width: 12px;
        height: 12px;
      }
    }
    &--large {
      width: 24px;
      height: 24px;
      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }
}
